<section class="todoapp">
			<header class="header">
				<h1><%= @list.name %></h1>
				<input class="new-todo" placeholder="Add an item..." autofocus="">
			</header>
			<section class="main">
				<ul class="todo-list">
          <li>
            <div class="view">
              <label>List Item</label>
            </div>
          </li>
        </ul>
			</section>
			<footer class="footer" style="display: none;">

			</footer>
		</section>
